@font-face {
  font-family: "Optima";
  src: url("http://www.myfontfree.com/data/1/o/optima/unicode.optima.ttf"); }
.brandfont {
  font-family: "Optima"; }

/* LG Large Desktop */
@media all and (min-width: 1170px) {
  .container {
    padding-left: 0;
    padding-right: 0; }

  .sidebar {
    margin-left: -15px; }

  .slickslider-text.hiker {
    margin-top: -550px;
    margin-left: 55%; }

  .slickslider-text.skiier {
    margin-left: 10%; }

  .slickslider-text.beach {
    margin-left: 45%; }

  #tabs-module {
    display: block; }

  #accordion {
    display: none; } }
/* MD Medium Desktop */
@media all and (min-width: 992px) and (max-width: 1169px) {
  .sidebar {
    margin-left: -15px !important; }

  #tabs-module {
    display: block; }

  #accordion {
    display: none; } }
/* SM Small Tablet */
@media all and (min-width: 768px) and (max-width: 991px) {
  .fixed-container {
    padding-bottom: 0px; }

  .tagline {
    margin-top: 7px; }

  .slickslider {
    margin-top: 220px !important;
    margin-bottom: 20px; }

  .masthead img {
    margin-top: 220px; }

  .sidebar {
    border-left: none; }

  .footer-nav {
    float: right; }

  .maincontent img {
    width: 100%; }

  #tabs-module {
    display: none; }

  #accordion {
    display: block; }

  /*
  .slickslider-header { color: $purple; font-size: 3.4em; font-weight: 700; font-style: italic; line-height: 1.2em; }
  .slickslider-subheader { color: $purple; font-size: 2em; font-weight: 700; font-style: italic; padding-left: 100px; }
  
  .slickslider-text { margin-top: -270px; padding-bottom: 150px; margin-left: 20%; }
  .slickslider-image img { width: 100% auto; max-height: 100%; height: auto; margin-bottom: 10px; background-repeat: no-repeat; } 
  .slickslider { margin-top: 220px; }
  */
  .shiftnav ul.shiftnav-menu li.menu-item > .shiftnav-target {
    padding: 7px 25px !important;
    color: #fff; }

  .shiftnav-inner {
    background-color: #333 !important; }

  .topnav {
    display: block !important; }

  .shiftnav-menu > li > a {
    background-color: #555;
    padding: 10px 0 !important;
    border-bottom: 1px solid #333;
    font-weight: 700; }

  .sub-menu li a {
    background-color: #444;
    padding-left: 10px !important;
    color: #ddd !important; }

  .shiftnav-target:hover, .shiftnav-target:active {
    background-color: #CDDD54 !important;
    color: #fff !important; }

  .shiftnav-menu > .current-menu-item > a {
    background-color: #552988 !important;
    color: #fff !important; }

  li .current-menu-item a {
    background-color: #552988 !important;
    color: #fff !important; } }
@media all and (max-width: 869px) {
  .slickslider {
    margin-top: 100px !important;
    margin-bottom: 20px; }

  .masthead img {
    margin-top: 100px; }

  .tagline {
    display: none; }

  .logo {
    margin-top: 40px; }

  .logo img {
    height: 80px;
    width: auto; }

  .fixed-container {
    border-bottom: 1px solid #eee;
    text-align: center; }

  .sidebar {
    border-left: none; }

  #tabs-module {
    display: none; }

  #accordion {
    display: block; }

  .shiftnav ul.shiftnav-menu li.menu-item > .shiftnav-target {
    padding: 7px 25px !important;
    color: #fff; }

  .shiftnav-inner {
    background-color: #333 !important; }

  .topnav {
    display: block !important; }

  .shiftnav-menu > li > a {
    background-color: #555;
    padding: 10px 0 !important;
    border-bottom: 1px solid #333;
    font-weight: 700; }

  .sub-menu li a {
    background-color: #444;
    padding-left: 10px !important;
    color: #ddd !important; }

  .shiftnav-target:hover, .shiftnav-target:active {
    background-color: #CDDD54 !important;
    color: #fff !important; }

  .shiftnav-menu > .current-menu-item > a {
    background-color: #552988 !important;
    color: #fff !important; }

  li .current-menu-item a {
    background-color: #552988 !important;
    color: #fff !important; } }
/* XS Extra Small Mobile */
@media all and (max-width: 767px) {
  .tagline {
    display: none; }

  .logo {
    margin-top: 40px; }

  .logo img {
    height: 80px;
    width: auto; }

  .fixed-container {
    border-bottom: 1px solid #eee;
    text-align: center; }

  .sidebar {
    border-left: none; }

  .footer-nav {
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px; }
    .footer-nav .menu-footer-menu-container {
      margin: 0 auto; }

  footer {
    text-align: center; }

  .maincontent img {
    width: 100%; }

  #tabs-module {
    display: none; }

  #accordion {
    display: block; }

  .slickslider-header {
    color: #552988;
    font-size: 2.2em;
    font-weight: 700;
    font-style: italic;
    line-height: 1.2em; }

  .slickslider-subheader {
    color: #552988;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    padding-left: 70px; }

  .slickslider-text {
    display: block;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 20px; }

  .slickslider-image img {
    width: 100% auto;
    max-width: 100%;
    height: auto !important;
    margin-bottom: 10px;
    background-repeat: no-repeat; }

  .slickslider {
    margin-top: 70px; }

  img.slickslider-img {
    display: none; }

  img.slickslider-img-alt {
    display: block; }

  .masthead img {
    margin-top: 100px; }

  .shiftnav ul.shiftnav-menu li.menu-item > .shiftnav-target {
    padding: 7px 25px !important;
    color: #fff; }

  .shiftnav-inner {
    background-color: #333 !important; }

  .topnav {
    display: block !important; }

  .shiftnav-menu > li > a {
    background-color: #555;
    padding: 10px 0 !important;
    border-bottom: 1px solid #333;
    font-weight: 700; }

  .sub-menu li a {
    background-color: #444;
    padding-left: 10px !important;
    color: #ddd !important; }

  .shiftnav-target:hover, .shiftnav-target:active {
    background-color: #CDDD54 !important;
    color: #fff !important; }

  .shiftnav-menu > .current-menu-item > a {
    background-color: #552988 !important;
    color: #fff !important; }

  li .current-menu-item a {
    background-color: #552988 !important;
    color: #fff !important; } }
/* XXS Extra Small Mobile */
@media all and (max-width: 480px) {
  .tagline {
    margin-top: 7px; }

  .logo {
    margin-top: 40px; }

  .fixed-container {
    border-bottom: 1px solid #eee;
    text-align: center; }

  .footer-nav {
    float: none;
    text-align: center; }

  #tabs-module {
    display: none; }

  #accordion {
    display: block; }

  .slickslider-header {
    color: #552988;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    line-height: 1.4em; }

  .slickslider-subheader {
    color: #552988;
    font-size: 1.3em;
    font-weight: 700;
    font-style: italic;
    padding-left: 50px; }

  .slickslider-text {
    display: block;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 20px; }

  .slickslider-image img {
    width: 100% auto;
    max-width: 100%;
    height: auto !important;
    margin-bottom: 10px;
    background-repeat: no-repeat; }

  .slickslider {
    margin-top: 70px; }

  img.slickslider-img {
    display: none; }

  img.slickslider-img-alt {
    display: block; } }
