@import 'var';
@import 'mixins';
@import 'fonts';
@import 'bourbon/bourbon';

html,body { margin: 0 auto; font-size: 16px; }
body { margin-top: 20px; }
a { color: black; }

// header module & navigation -----------------------------------------------
.tagline { @extend .brandfont; font-size: 1.2em; font-weight: 500; letter-spacing: 1px; text-transform: initial; font-variant: small-caps; color: $grey; sup { font-size: 0.5em!important; top:-1em; } }
.navbar a { color: $white; }

header { margin-bottom: 20px; div { display: inline-block; } }
.tagline { margin-left: 20px; }

.navbar-gradient { background-image: url('../img/gradient-tile.svg'); background-repeat: repeat-x; height: 63px; }
.navbar { padding-top: 5px; border-radius: 0; }

// slick slider module -----------------------------------------------
#masthead { img { max-width: 100%; } margin-bottom: 20px; }

// sidebar module ----------------------------------------------- 
.sidebar { background-color: $sidebar; padding: 20px; @include box-shadow( inset -2px -2px 2px 0px rgba(224,224,224,1) ); }

// footer module ----------------------------------------------- 
footer { border-top: 2px solid $purple; margin-top: 20px; padding-top: 7px; }