@import 'var';
@import 'mixins';
@import 'fonts';
@import 'bourbon/bourbon';
@import 'navigation';
@import 'slickslider';
@import 'table';

html,body { margin: 0 auto; font-size: 14px; overflow-x: hidden; }
body { margin-top: 0px; }
.container { width: 100%; max-width: 1100px; padding: 0; }
a { color: black; text-decoration: none; &:hover { text-decoration: none; } }
.maincontent a { color: $purple; text-decoration: none!important; }
.ref { font-size: 0.75em; line-height: 1em; }



// Sitemap -----------------------------------------------
.site-menu { margin-bottom: 20px;
	ul li { padding-left: 20px; padding-top: 4px; padding-bottom: 4px; a { color: $black; } &:nth-child(1) { padding-left: 0; background-color: rgba($purple, 0.5); padding: 7px; a { color: $white; } } }
}

// Masthead module -----------------------------------------------
.masthead { img { width: 100%; max-height: 569px; height: 100%; background-repeat: no-repeat; margin-top: 10px; margin-bottom: 20px; } }

// ShiftNav module -----------------------------------------------
.shiftnav-main-toggle-content a { display: none; }
/*
aside { padding: 30px 0; }
.sub-nav { text-align: right; float: right;
	ul { list-style-type: none!important; padding-left: -15px; a { text-decoration: none; } }
}

aside .sub-nav .current-menu-item:nth-child(1) a { color: $lime; }
aside .sub-nav .current-menu-item:nth-child(1):before { content: " "; padding-right: 0px!important; }
aside .sub-nav .current-menu-item a { color: $black; }
aside .sub-nav .current-menu-item:before { content: "\f054"; font-family: FontAwesome; padding-right: 7px; }
*/



// content module ----------------------------------------------- 
.maincontent { padding: 0 20px;	h1 { font-size: 1.175em; font-weight: 700; } p { font-size: 1em; font-weight: 400; } img { max-width: 600px; height: auto; } }

// paragraph module -----------------------------------------------
#paragraph { padding-bottom: 30px;
	h1 { font-size: 1.2em; font-weight: 700; }
	h2 { font-size: 1.1em; font-weight: 600; }
	blockquote { font-style: italic; }
	.customheader { color: $grey; }
	.blockquote { color: $purple!important; }
	.highlight {}
}

// tabs module -----------------------------------------------
#tabs-module { 
	.tab-pane { height: auto; }
	.tabs-module-two-tabs { 
		li { width: 50%; &:nth-child(1) { padding-right: 5px; } &:nth-child(2) { padding-left: 5px; } } 
		li a { width: 100%; }
	}
	.tabs-module-three-tabs { 
		li { width: 33.3%; &:nth-child(1) { padding-right: 5px; } &:nth-child(2) { padding-left: 5px; } &:nth-child(3) { padding-left: 10px; } } 
		li a { width: 100%; }
	}
	.nav-tabs { 
		li a { background-color: $purple; background-image: url('../img/gradient-tile.svg'); background-position: 0% 35%!important; color: $white; } //unselected tab 
		li>a { border: none; margin-bottom: 10px; border-radius: 0; }
		li.active>a { 
			background-color: $sidebar; background-image: none; padding-bottom: 20px; margin-bottom: 0!important; 
			@include box-shadow( inset -2px 0px 0px 0px rgba(224,224,224,1) );
			color: $purple;
		}
	}
	.tabs-module-box-element { background-color: $sidebar; padding: 15px 15px 30px; margin-bottom: 10px; @include box-shadow( inset -2px -2px 0px 0px rgba(224,224,224,1) ); }
	.tabs-module-img-left { float: left; padding-right: 20px;}
	.tabs-module-img-right { float: right; padding-left: 15px; } 
	.tabs-module-two-flex-container { display: flex; flex-direction: column; min-height: 100%; .tabs-module-two-content { flex: 1; } } 
	.tabs-module-three-flex-container { display: flex; flex-direction: column; min-height: 100%; .tabs-module-three-content { flex: 1; } } 
}
// panels module -----------------------------------------------
#accordion {
	.panel-heading { background-color: $purple; /*background-image: url('../img/gradient-tile-sm.svg');*/ color: $white; }
	.panel-body { background-color: $sidebar; }
}

// profiles module -----------------------------------------------
#profiles { 
	.profiles-module-box-element { background-color: $sidebar; padding: 10px; margin-bottom: 10px; @include box-shadow( inset -2px -2px 2px 0px rgba(224,224,224,1) ); }
	img { width: 100%;  height: auto; margin-bottom: 5px; height: 116px; width: 87px; }
	h2 { font-size: 1em; font-weight: 700; }
	.col-lg-6:nth-child(odd) { padding-right: 5px; }
	.col-lg-6:nth-child(even) { padding-left: 5px; }
}
.bios_profile_header { border-bottom: 1px solid $grey; margin-bottom: 10px; padding-bottom: 20px; margin-top: 10px;
	img { width: 100%;  height: auto; height: 116px; width: 87px; }
	h2 { font-size: 1em; font-weight: 700; }
}

// RSS module ----------------------------------------------- 
#recent-posts-2 {
	h4 { font-size: 1.2em; font-weight: 700; color: $purple; }
	li { padding-bottom: 10px; 
		.post-date { display: block; font-size: 0.9em; color: $grey; }
		a { font-weight: 700; &:hover { color: darken($grey,20); } }
	}
}
.single-post {
	#respond { display: none; }
}

// footer module ----------------------------------------------- 
footer,.footer-nav { font-size: 0.75em; padding: 0 20px; }
.footer-nav { 
	ul { list-style: none; padding: 0; margin: 0; }
	li { display: inline-block; margin-left: 20px; a { color: $purple; &:hover { color: lighten($purple,30); } } }
	li:nth-child(1) { margin-left: 0; }
}

footer { margin-bottom: 30px; }
.footer-divideline { border-top: 2px solid $purple; margin-top: 20px; padding-top: 7px; width: 1200px; max-width: 100%; }
ul { list-style: none; padding: 0; margin: 0; } .footer-nav { display: flex; justify-content: space-between; margin-left: -15px; } 

// custom class -----------------------------------------------
.box-element { background-color: $sidebar; padding: 15px; margin-bottom: 10px; @include box-shadow( inset -2px -2px 0px 0px rgba(224,224,224,1) ); }
.flex-container { display: flex; flex-direction: column; min-height: 100vh; }

//.custom-top-navbar { background-color: green; padding: 12px; height: 50px; }
//.show-sidebar { margin-left: 60%; width: 100%; }
//.off-canvas-sidemenu { background-color: $sidebar; position: fixed; width: 100%; min-height: 100vh; top: 160px; padding: 20px; }

//.off-canvas-content { z-index: 1000!important; background-color: $white!important; border-left: 1px solid red; position: relative; top: 60px;
	//.slickslider img { width: 100%; height: auto; position: relative; }
//}
//.navbtn { margin-top: 145px; margin-left: 100px; z-index: 20000; position: absolute; }
//.navbar-fixed-top { top: -40px; }